body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 80vh;
}

h1 {
    margin: 20px;
}

p {
    margin: 20px;
}

.imagem-container {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    margin: 20px;
}

img {
    width: 300px;
    height: auto;
    margin-right: 20px; /* Espaço entre a imagem e o botão */
}

.botoes-container {
    margin: 20px;
}

button {
    background-color: #4CAF50; /* Verde */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px; /* Cantos arredondados */
    transition: background-color 0.3s; /* Efeito de transição */
}

/* Estilo para botões alternados */
.botao-alterar {
    background-color: transparent; /* Fundo transparente */
    border: 2px solid #4CAF50; /* Borda verde */
    color: #4CAF50; /* Texto verde */
}

.botao-alterar:hover {
    background-color: #4CAF50; /* Fundo verde ao passar o mouse */
    color: white; /* Texto branco ao passar o mouse */
}

/* Estilo para botão de áudio */
.botao-audio {
    background-color: #2196F3; /* Azul */
    color: white;
}

.botao-audio:hover {
    background-color: #1976D2; /* Azul mais escuro ao passar o mouse */
}

button:hover {
    background-color: #45a049; /* Verde mais escuro ao passar o mouse */
}

.red {
    color: red;
}

.blue {
    color: blue;
}
/* Estilos existentes aqui */

.botao-alterado {
    background-color: #FF5722; /* Laranja */
    color: white;
    border: 2px solid #FF5722; /* Borda laranja */
}

.botao-alterado:hover {
    background-color: #E64A19; /* Laranja mais escuro ao passar o mouse */
}
.titulo-alterado {
    font-family: 'Arial Black', sans-serif; /* Altere a fonte conforme necessário */
    font-size: 2em; /* Tamanho da fonte */
    color: #ff5733; /* Cor do texto */
    text-transform: uppercase; /* Letras maiúsculas */
}